.navbar{
  background-color: #292926;
  display: flex;
  margin-bottom: 10px;
  position: relative;
  top: -1px;
  right: 14px;
  margin-left: 15px;
  left: -81px;
  width: 105%;
    
}
.NavBar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    left: 83px;
    bottom: -20px;
    list-style-type: none;
    height: 20px;
    background-color:#292926;
    width: 600px;
}
.link{
    color: rgb(161, 161, 161);
    margin-right: 19px;
    background-color: #292926;
    font-size: 19px;
    position: relative;
    left: 12px;
}

.link:hover{
    color: rgb(107, 107, 107);
    transition: all 300ms;

}

.img{
    left: 65px;
    position: relative;
    top: 0px;
}
img{
    width: 65px;
    height: 63px;
    position: relative;
    left: 47px;
    background-color: transparent;
    top: 6px;
}
.lista{
    height: 19px;
    background-color:#292926
}




  